@model HomeViewModel
@{
    ViewData["Title"] = "Home";
}
@using CloudinaryDotNet;
@using Microsoft.Extensions.Configuration;
@inject CloudinaryDotNet.Cloudinary cloudinary;
@inject IConfiguration configuration;

<div>
    @foreach (var kvp in Model.TargetUrlsPublicIds)
    {
        var imageUrl = cloudinary.Api.UrlImgUp.Secure(true).Transform(
            new Transformation()
            ).BuildUrl(kvp.Value);
        

        <img data-src="@imageUrl" class="cld-responsive" width="100%">
    }
</div>

@{ var searchModel = Model.SearchModel; }
<div class="mt-2 row">
    <div class="col">
        <h3 class="font-medium font-weight-bolder">Search Inventory Here</h3>
        <hr />

        <form method="get">
            <select class="form-control mb-2" for="@searchModel.SelectedCarInventory" items="@searchModel.CarInverntories">
            </select>

            <select class="form-control mb-2" for="@searchModel.SelectedModelType" items="@searchModel.ModelTypes">
                <option selected disabled hidden>Select model type</option>
            </select>

            <select class="form-control mb-2" for="@searchModel.SelectedYear" items="@searchModel.Years">
                <option selected disabled>Select year</option>
            </select>

            <select class="form-control mb-2" for="@searchModel.SelectedPrice" items="@searchModel.Prices">
                <option selected disabled>Select price range</option>
            </select>

            <button class="btn background-blue-hover border-blue" type="submit">Search</button>
        </form>
    </div>

    <div class="col">
        <h3 class="font-medium font-weight-bolder">I just want to browse.</h3>
        <hr />

        <div class="mb-2 font-medium">
            <a class="no-text-decorator color-black" asp-controller="NewInventory" asp-action="Index">
                <i class="fas fa-arrow-right"></i>
                New Inventory
            </a>
        </div>
        <div class="font-medium">
            <a class="no-text-decorator color-black" asp-controller="UsedInventory" asp-action="Index">
                <i class="fas fa-arrow-right"></i>
                Pre-owned
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/node_modules/lodash/lodash.js" type="text/javascript"></script>
    <script src="/node_modules/cloudinary-core/cloudinary-core.js" type="text/javascript"></script>
    <script type="text/javascript">
        const cloudName = '@configuration["Cloudinary:CloudName"]';
        const cl = cloudinary.Cloudinary.new({ cloud_name: cloudName, secure: true });

        cl.responsive();
    </script>
}