@model AdminDashboardStatisticsViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<h5>Total</h5>
<div class="container-item border-grey border-radius-smooth">
    Total orders: <strong>@Model.TotalOrdersCount</strong>
</div>

<h5>Cars</h5>
<div class="container-item border-grey border-radius-smooth">
    <h6>New</h6>
    <div class="ml-3">
        <div>
            Total orders: <strong>@Model.NewCarsOrdersCount</strong>
        </div>
        <div>
            Orders from past 24 hours: <strong>@Model.NewCarsOrderedFromPast24HoursCount</strong>
        </div>
    </div>

    <h6>Used</h6>
    <div class="ml-3">
        <div>
            Total orders: <strong>@Model.UsedCarsOrdersCount</strong>
        </div>
        <div>
            Orders from past 24 hours: <strong>@Model.UsedCarsOrderedFromPast24HoursCount</strong>
        </div>
    </div>
</div>

<h5>Users</h5>
<div class="container-item border-grey border-radius-smooth">
    Total
    <div class="ml-3">
        Total users count: <strong>@Model.TotalUsersCount</strong>
    </div>
</div>