@model AdminDashboardStatisticsViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<h5>Total</h5>
<div class="container-item border-grey border-radius-smooth">
    Total orders: @Model.TotalOrdersCount
</div>

<h5>Cars</h5>
<div class="container-item border-grey border-radius-smooth">
    <h6>New</h6>
    <div class="ml-3">
        <div>
            Total: @Model.NewCarsOrdersCount
        </div>
        <div>
            Orders from past 24 hours: @Model.NewCarsOrderedFromPast24HoursCount
        </div>
    </div>

    <h6>Used</h6>
    <div class="ml-3">
        <div>
            Total: @Model.UsedCarsOrdersCount
        </div>
        <div>
            Orders from past 24 hours: @Model.UsedCarsOrderedFromPast24HoursCount
        </div>
    </div>
</div>

<h5>Users</h5>
<div class="container-item border-grey border-radius-smooth">
    Total
    <div class="ml-3">
        Total users count: @Model.TotalUsersCount
    </div>
</div>