@model CarInventoryViewModel
@using CloudinaryDotNet;
@inject CloudinaryDotNet.Cloudinary cloudinary;
@inject Microsoft.AspNetCore.Identity.SignInManager<User> signInManager

@{
    ViewData["Title"] = "Car Information";
}

<h4 class="mt-4">@($"{Model.Car.Year} {Model.Car.Name} {Model.Car.ModelTypeName} in {Model.Car.ColorName}")</h4>

@{
    var inventoryControllerName = "";
    var inventoryType = "";
}

@if (Model.Car.IsNew)
{
    inventoryControllerName = "NewInventory";
    inventoryType = "NEW";
}
else
{
    inventoryControllerName = "UsedInventory";
    inventoryType = "USED";
}

<div class="mt-4 mb-2 no-padding">
    <a asp-controller="@inventoryControllerName" asp-action="Index">@inventoryType</a>
    <span> > </span>
    <a asp-controller="@inventoryControllerName" asp-action="Index" asp-route-year="@Model.Car.Year">@Model.Car.Year</a>
    <span> > </span>
    <a asp-controller="@inventoryControllerName" asp-action="Index" asp-route-modelTypes="@Model.Car.ModelTypeId">@Model.Car.ModelTypeName</a>
    <span> > </span>
    <span>@Model.Car.Name</span>
</div>

<div class="row no-margin">
    <div class="col-8 no-padding">
        <h6 class="font-medium">Photos</h6>
        <hr />
        <div class="text-center">
            @cloudinary.Api.UrlImgUp.Secure(true).Transform(
            new Transformation()
                .Quality("auto")
                .FetchFormat("auto")
                .Crop("scale")
                .Width(500)
                .Height(300)
                .Crop("fill")
        ).BuildImageTag(Model.Car.PicturePublicIds.First())
        </div>
    </div>
    <div class="col no-padding ml-4">
        <div class="container-light-blue border-radius-smooth border-grey">
            <div class="row no-margin mt-2 font-large">
                Price:
                <div class="ml-auto"><strong>$@Model.Car.Price</strong></div>
            </div>

            <hr />

            <div class="no-margin mt-4 font-small">
                <div class="row w-100">
                    <div class="col-4">
                        <div class="mb-4">
                            <i class="fas fa-gas-pump fa-2x"></i>
                        </div>

                        <div class="mb-4">
                            <i class="fas fa-cogs fa-2x"></i>
                        </div>

                        <div class="mb-4">
                            <i class="fas fa-tint fa-2x"></i>
                        </div>

                        <div class="mb-4">
                            <i class="fas fa-clipboard-list fa-2x"></i>
                        </div>
                    </div>

                    <div class="col-8">
                        <div class="mb-2 d-flex">
                            <div class="mr-4">
                                <div>
                                    <strong>@Model.Car.FuelConsumation_City_Litres_100Km lpk</strong>
                                </div>
                                <span>City</span>
                            </div>

                            <div>
                                <div class="">
                                    <strong>@Model.Car.FuelConsumation_Highway_Litres_100Km lpk</strong>
                                </div>
                                <span>Highway</span>
                            </div>
                        </div>

                        <div class="mb-2">
                            <div>
                                <strong>@Model.Car.EngineName</strong>
                            </div>
                            <span>@Model.Car.TransmissionName</span>
                        </div>

                        <div>
                            <div>
                                <strong>@Model.Car.ColorName</strong>
                            </div>
                            <span class="mb-auto">Exterior</span>
                        </div>

                        <div class="mt-3">
                            <div>
                                <strong>@Model.Car.Vin</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex">
    <div class="ml-auto">
        @if (Model.Car.IsTestDriveScheduled)
        {
            <div class="row d-flex">
                <div class="mx-auto">
                    <a class="btn btn-lg btn-wide border-blue background-blue-hover ml-2"
                       asp-controller="TestDrives"
                       asp-action="Drive"
                       asp-route-testDriveId="@Model.Car.TestDriveId">
                        Scheduled
                        <i class="far fa-calendar-check"></i>
                    </a>
                </div>
            </div>
        }
        else
        {
            <div class="row d-flex">
                <div class="mx-auto">
                    @if (signInManager.IsSignedIn(User))
                    {
                        @await Component.InvokeAsync("ScheduleTestDriveBtn", new
                        {
                            CarId = Model.Car.Id
                        })
                    }
                    else
                    {
                        <a class="btn btn-lg btn-wide border-blue background-blue-hover ml-2"
                           asp-area="Identity"
                           asp-page="/Account/Login">
                            Schedule A Test Drive
                        </a>
                    }
                </div>
            </div>
        }
    </div>
</div>

<h6 class="font-medium mt-4">Main Specifications</h6>
<hr />
<div class="d-flex font-medium">
    <div class="ml-auto mr-auto">
        <div class="mb-4">
            <i class="fas fa-tachometer-alt"></i>
            Acceleration 0-100km: @Model.Car.Acceleration_0_100Km
        </div>

        <div class="mb-4">
            <i class="fas fa-box"></i>
            Engine Displacement: @Model.Car.Displacement in
        </div>

        <div class="mb-4">
            <i class="fas fa-cogs"></i>
            Transmission: @Model.Car.TransmissionName
        </div>

        <div class="mb-4">
            <i class="fas fa-horse"></i>
            Hourse Power: @Model.Car.HoursePower
        </div>

        <div class="mb-4">
            <i class="fas fa-truck-loading"></i>
            Torque: @Model.Car.Torque
        </div>
    </div>

    <div class="mr-auto ml-auto">
        <div class="mb-4">
            <i class="fas fa-smog"></i>
            CO2 Emissions: @Model.Car.CO2Emissions gr
        </div>

        <div class="mb-4">
            <i class="fas fa-door-open"></i>
            DoorsCount: @Model.Car.DoorsCount
        </div>

        <div class="mb-4">
            <i class="fas fa-gas-pump"></i>
            Fuel Type: @Model.Car.FuelTypeName
        </div>

        <div class="mb-4">
            <i class="fas fa-car"></i>
            Model Type: @Model.Car.ModelTypeName
        </div>

        <div class="mb-4">
            <i class="fas fa-weight-hanging"></i>
            Weight: @Model.Car.Weight_Kg kg
        </div>
    </div>
</div>

<h6 class="font-medium">Description</h6>
<hr />
<div class="row">
    <div>
        &emsp;&emsp;
    </div>
    <div class="col">
        @Model.Car.Description
    </div>
</div>

<hr />

<h6 class="font-medium">Options</h6>
<hr />
<div>
    @{ var isFirst = true; }
    @foreach (var optionType in Model.OptionTypes)
    {
        @if (isFirst == false)
        {
            <hr />
        }
        isFirst = false;

        @Html.DisplayFor(m => optionType);
    }
</div>

<hr />

@section Scripts {
    <script src="~/js/datetimePickerPick.js"></script>
    <script src="~/js/showModal.js"></script>
}