@model ScheduleTestDriveBindingModel

<button class="btn btn-lg btn-wide border-blue background-blue-hover ml-2"
        type="button"
        data-toggle="modal"
        data-target="#@Model.CarId">
    Schedule A Test Drive
</button>

<div id="@Model.CarId" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form method="post" asp-controller="TestDrives" asp-action="Schedule">
                    <input name="CarId" value="@Model.CarId" hidden />
                    <div class="form-group">
                        <div>
                            <span asp-validation-for="@Model.ScheduleDate"
                                  class="text-danger"></span>
                        </div>
                        <label asp-for="@Model.ScheduleDate" type="text"></label>
                        <input class="form-control datepicker"
                               data-provide="datepicker"
                               name="ScheduleDate" />
                    </div>
                    <div class="form-group">
                        <div>
                            <span asp-validation-for="@Model.Comment"
                                  class="text-danger"></span>
                        </div>
                        <label asp-for="@Model.Comment"></label>
                        <textarea class="form-control"
                                  name="Comment"
                                  asp-for="@Model.Comment"
                                  type="text"></textarea>
                    </div>
                    <div class="d-flex">
                        <button class="btn border-blue background-blue-hover mx-auto mt-3" type="submit">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>