@model AdminUsersViewModel
@{
    ViewData["Title"] = "Users";
}

<div class="container-item no-padding border-grey border-radius-smooth d-flex">
    <div class="dropdown ml-auto">
        @await Component.InvokeAsync("SortType", new
           {
               enumTypeName = typeof(UserSortStrategyType).AssemblyQualifiedName,
               selectedEnumName = @Model.SortStrategyType.ToString()
           })
    </div>
    <div class="mr-auto">
        <partial name="_SortingDirectionPartial" />
    </div>
</div>

<div class="container-item border-grey border-radius-smooth">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Full name</th>
                <th scope="col">Orders</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr data-userId="@user.Id">
                    <td>@user.Id</td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.Email</td>
                    <td>@user.FullName</td>
                    <td><a href="#">Orders (@user.OrdersCount)</a></td>
                    <td>
                        @if (user.IsBanned)
                        {
                            <button unban data-userId="@user.Id" class="btn btn-wide background-green-hover border-green">
                                Unban
                            </button>
                            <button hidden ban data-userId="@user.Id" class="btn btn-wide border-light-blue background-light-blue-hover">
                                Ban
                            </button>
                        }
                        else
                        {
                            <button hidden unban data-userId="@user.Id" class="btn btn-wide background-green-hover border-green">
                                Unban
                            </button>
                            <button ban data-userId="@user.Id" class="btn btn-wide border-light-blue background-light-blue-hover">
                                Ban
                            </button>
                        }

                        <button delete data-userId="@user.Id" class="btn btn-wide border-light-red background-light-red-hover">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/removeTrFromTable.js"></script>
    <script src="~/js/makePostRequest.js"></script>
    <script>
        $(function () {
            removeTrFromTable('[delete]', 'data-userId', '/Admin/Users/Delete');
        })
    </script>
    <script>
        // TODO: Move to js file
        $(function () {
            const banBtns = $('[ban]');
            const unbanBtns = $('[unban]');

            banBtns.on('click', function (e) {
                const banBtn = $(e.currentTarget);
                const userId = banBtn.attr('data-userId');

                makePostRequest('Ban', userId, function () {
                    const unbanBtn = banBtn.siblings('[unban]');

                    unbanBtn.removeAttr('hidden');
                    banBtn.attr('hidden', 'hidden');
                });
            });

            unbanBtns.on('click', function (e) {
                const unbanBtn = $(e.currentTarget);
                const userId = unbanBtn.attr('data-userId');

                makePostRequest('Unban', userId, function () {
                    const banBtn = unbanBtn.siblings('[ban]');

                    banBtn.removeAttr('hidden');
                    unbanBtn.attr('hidden', 'hidden');
                });
            });

            function makePostRequest(actionName, userId, successCallback) {
                $.ajax({
                    url: '/Admin/Users/' + actionName,
                    data: { userId: userId },
                    method: 'post',
                    success: function (data) {
                        successCallback();
                    }
                });
            }
        })
    </script>
}