@model AdminUsersViewModel
@{
    ViewData["Title"] = "Users";
}

<div class="container-item no-padding border-grey border-radius-smooth d-flex">
    <div class="dropdown ml-auto">
        Order by
        <button class="btn btn-wide border-blue-hover" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @{ var selectedStrategyType = @Model.SortStrategyType.ToString(); }
            @Html.Raw(IconLinks.SortTypeIconLink[selectedStrategyType])
            @selectedStrategyType
        </button>
        <div class="dropdown-menu border-blue" aria-labelledby="dropdownMenuButton">
            @foreach (var strategyType in Enum.GetNames(typeof(UserSortStrategyType)))
            {
                if (strategyType != selectedStrategyType)
                {
                    <form method="post" 
                          asp-controller="Users" 
                          asp-action="ChangeSortType" 
                          asp-route-sortStrategyType="@strategyType">
                        <button type="submit" class="dropdown-item">
                            @Html.Raw(IconLinks.SortTypeIconLink[strategyType])
                            @strategyType
                        </button>
                    </form>
                }
            }
        </div>
    </div>
    <div class="dropdown mr-auto">
        <button class="btn btn-wide border-blue-hover" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @{ var selectedSortDirection = @Model.SortStrategyDirection.ToString(); }
            @selectedSortDirection
            @Html.Raw(IconLinks.SortTypeIconLink[selectedSortDirection])
        </button>
        <div class="dropdown-menu border-blue" aria-labelledby="dropdownMenuButton">
            @foreach (var sortDirection in Enum.GetNames(typeof(SortStrategyDirection)))
            {
                if (sortDirection != selectedSortDirection)
                {
                    <form method="post" 
                          asp-controller="Users" 
                           asp-action="ChangeSortDirection" 
                           asp-route-sortDirection="@sortDirection">
                        <button type="submit" class="dropdown-item" >
                            @sortDirection
                            @Html.Raw(IconLinks.SortTypeIconLink[sortDirection])
                        </button>
                    </form>
                }
            }
        </div>
    </div>
</div>

<div class="container-item border-grey border-radius-smooth">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Full name</th>
                <th scope="col">Orders</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.Email</td>
                    <td>@user.FullName</td>
                    <td><a href="#">Orders (@user.OrdersCount)</a></td>
                    <td>
                        @if (user.IsBanned)
                        {
                            <button class="btn btn-wide background-green-hover border-green">Unban</button>
                        }
                        else
                        {
                            <button class="btn btn-wide border-light-blue background-light-blue-hover">Ban</button>
                        }

                        <button class="btn btn-wide border-light-red background-light-red-hover">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>