@model IEnumerable<OptionTypeConciseViewModel>
@{
    ViewData["Title"] = "Option Types";
}

<h5>@ViewData["Title"]</h5>

<partial name="_AddNewPartial" />

<div class="container-item-white border-radius-smooth border-grey">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Options</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var optionType in Model)
            {
                <tr data-id="@optionType.Id">
                    <td>@optionType.Id</td>
                    <td>@optionType.Name</td>
                    <td>
                        @if (optionType.OptionsCount == 0)
                        {
                            <a href="#">Options (@optionType.OptionsCount)</a>
                        }
                        else
                        {
                            <a 
                               asp-area="Admin" 
                               asp-controller="Options" 
                               asp-action="Index"
                               asp-route-name="@optionType.Name"
                               asp-route-filter="@AdminOptionFilterStrategy.OptionType.ToString()">
                                Options (@optionType.OptionsCount)
                            </a>
                        }
                    </td>
                    <td>
                        <div>
                            <button data-delete-btn="@optionType.Id" class="btn btn-wide border-light-red background-light-red-hover">
                                Delete
                            </button>
                        </div>
                        <div>
                            <a class="btn btn-wide border-green background-green-hover"
                               asp-route-id="@optionType.Id"
                               asp-area="Admin"
                               asp-controller="OptionTypes"
                               asp-action="Edit">
                                Edit
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/removeElementOnButtonClick.js"></script>
    <script>
        $(function () {
            const aft = '@Html.AntiForgeryToken()';
            const aftValue = $(aft).val();
            removeElementOnButtonClick('data-delete-btn', 'data-id', '/Admin/OptionTypes/Delete', aftValue);
        })
    </script>
}