@model AdminFuelTypesViewModel
@{
    ViewData["Title"] = "Index";
}

<h5>Index</h5>

<partial name="_AddNewPartial" />

<div class="container-item-white border-radius-smooth border-grey">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Cars</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fuelType in Model.FuelTypes)
            {
                <tr data-id="@fuelType.Id">
                    <td>@fuelType.Name</td>
                    <td>
                        @if (fuelType.CarsCount == 0)
                        {
                            <a href="#">Cars (@fuelType.CarsCount)</a>
                        }
                        else
                        {
                            <a asp-controller="Cars"
                               asp-action="Index"
                               asp-route-id="@fuelType.Id"
                               asp-route-filter="@AdminBaseCarFilterStrategy.FuelType">
                                Cars (@fuelType.CarsCount)
                            </a>
                        }
                    </td>
                    <td>
                    </td>
                    <td>
                        <div>
                            <partial name="_DeleteBtnPartial" model="@fuelType" />
                        </div>
                        <div>
                            <a class="btn btn-wide border-green background-green-hover"
                               asp-route-id="@fuelType.Id"
                               asp-area="Admin"
                               asp-controller="Engines"
                               asp-action="Edit">
                                Edit
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<partial name="_PaginationPartial" />

@section Scripts {
    <script src="~/js/removeElementOnButtonClick.js"></script>
    <script>
        $(function () {
            removeElementOnButtonClick('[delete]', 'data-id', '/Admin/FuelTypes/Delete');
        })
    </script>
}