@model AdminOptionsViewModel
@{
    ViewData["Title"] = "Car Options";
}

<h5>@ViewData["Title"]</h5>

<partial name="_AddNewPartial" />

<div class="container-item-white border-radius-smooth border-grey">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Cars</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var option in Model.Options)
            {
                <tr data-optionId="@option.Id">
                    <td>@option.Name</td>
                    <td>@option.Price</td>
                    <td>
                        @if (option.CarsCount == 0)
                        {
                            <a href="#">Cars (@option.CarsCount)</a>
                        }
                        else
                        {
                            <a asp-controller="Cars"
                               asp-action="Index"
                               asp-route-id="@option.Id"
                               asp-route-filter="@AdminBaseCarFilterStrategy.Option">
                                Cars (@option.CarsCount)
                            </a>
                        }
                    </td>
                    <td>
                        <div>
                            <button delete data-optionId="@option.Id" class="btn btn-wide border-light-red background-light-red-hover">
                                Delete
                            </button>
                        </div>
                        <div>
                            <a class="btn btn-wide border-green background-green-hover"
                                    asp-route-id="@option.Id"
                                    asp-area="Admin"
                                    asp-controller="CarOptions"
                                    asp-action="Edit">
                                Edit
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<partial name="_PaginationPartial" />

@section Scripts {
    <script src="~/js/removeElementOnButtonClick.js"></script>
    <script>
        $(function () {
            removeElementOnButtonClick('[delete]', 'data-optionId', '/Admin/CarOptions/Delete');
        })
    </script>
}