@model AdminOptionsViewModel
@{
    ViewData["Title"] = "Car Options";
}

<h5>@ViewData["Title"]</h5>

<div class="container-item-white border-radius-smooth border-grey d-flex">
    <a class="btn border-blue-hover"
       asp-action="AddNew">
        Add new
        <i class="fas fa-plus"></i>
    </a>
    <div class="d-flex mx-auto">
        @await Component.InvokeAsync("Dropdown", new
         {
             enumTypeName = typeof(OptionSortStrategyType).AssemblyQualifiedName,
             selectedEnumName = @Model.SortStrategyType.ToString(),
             controllerName = "Options",
             actionName = "ChangeSortType",
             routeParamName = "sortStrategyType",
             prependText = "Order by"
         })
        @await Component.InvokeAsync("Dropdown", new
        {
            enumTypeName = typeof(SortStrategyDirection).AssemblyQualifiedName,
            selectedEnumName = @Model.SortStrategyDirection.ToString(),
            controllerName = "Options",
            actionName = "ChangeSortDirection",
            routeParamName = "sortDirection"
        })
    </div>
</div>

<div class="container-item-white border-radius-smooth border-grey">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Option type</th>
                <th scope="col">Price</th>
                <th scope="col">Cars</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var option in Model.Options)
            {
                <tr data-optionId="@option.Id">
                    <td>@option.Name</td>
                    <td>@option.OptionTypeName</td>
                    <td>@option.Price</td>
                    <td>
                        @if (option.CarsCount == 0)
                        {
                            <a href="#">Cars (@option.CarsCount)</a>
                        }
                        else
                        {
                            <a asp-controller="Cars"
                               asp-action="Index"
                               asp-route-name="@option.Name"
                               asp-route-filter="@AdminBaseCarFilterStrategy.Option">
                                Cars (@option.CarsCount)
                            </a>
                        }
                    </td>
                    <td>
                        <div>
                            <button delete data-optionId="@option.Id" class="btn btn-wide border-light-red background-light-red-hover">
                                Delete
                            </button>
                        </div>
                        <div>
                            <a class="btn btn-wide border-green background-green-hover"
                                    asp-route-id="@option.Id"
                                    asp-area="Admin"
                                    asp-controller="Options"
                                    asp-action="Edit">
                                Edit
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<partial name="_PaginationPartial" />

@section Scripts {
    <script src="~/js/removeElementOnButtonClick.js"></script>
    <script>
        $(function () {
            removeElementOnButtonClick('[delete]', 'data-optionId', '/Admin/Options/Delete');
        })
    </script>
}