@model AdminDashboardStatisticsViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="container-item-white border-grey border-radius-smooth d-flex">
    <div class="mx-auto">
        Last updated: @Model.LastUpdate.ToString("HH:mm:ss")
        <a asp-area="Admin" asp-controller="Dashboard" asp-action="DeleteCache" class="btn border-blue-hover">
            <i class="fas fa-sync-alt"></i>
            Refresh
        </a>
    </div>
</div>

<h5>Test Drives</h5>
<div class="container-item-white border-grey border-radius-smooth">
    <h6>New Cars</h6>
    <div class="ml-3">
        <div>
            Total: <strong>@Model.TotalNewCarsTestDrivesCount</strong>
        </div>
        <div>
            From past 24 hours: <strong>@Model.NewCarsTestDrivesFromPast24HoursCount</strong>
        </div>
    </div>

    <h6>Used Cars</h6>
    <div class="ml-3">
        <div>
            Total: <strong>@Model.TotalUsedCarsTestDrivesCount</strong>
        </div>
        <div>
            From past 24 hours: <strong>@Model.UsedCarsTestDrivesFromPast24HoursCount</strong>
        </div>
    </div>

    <h6>All</h6>
    <div class="ml-3">
        <div>
            Total: <strong>@(Model.TotalNewCarsTestDrivesCount + Model.TotalUsedCarsTestDrivesCount)</strong>
        </div>
        <div>
            From past 24 hours: <strong>@Model.TotalTestDrivesFromPast24HoursCount</strong>
        </div>
    </div>
</div>

<h5>Cars</h5>
<div class="container-item-white border-grey border-radius-smooth">
    <h6>New</h6>
    <div class="ml-3">
        <div>
            Total: <strong>@Model.NewCarsCount</strong>
        </div>
    </div>

    <h6>Used</h6>
    <div class="ml-3">
        <div>
            Total: <strong>@Model.UsedCarsCount</strong>
        </div>
    </div>
</div>

<h5>Users</h5>
<div class="container-item-white border-grey border-radius-smooth">
    <h6>Total</h6>
    <div class="ml-3">
        Total users count: <strong>@Model.TotalUsersCount</strong>
    </div>
</div>