@model AdminEnginesViewModel
@{
    ViewData["Title"] = "Engines";
}

<h5>@ViewData["Title"]</h5>

<div class="container-item-white border-radius-smooth border-grey d-flex">
    <a class="btn border-blue-hover"
       asp-controller="Engines"
       asp-action="AddNew">
        Add new
        <i class="fas fa-plus"></i>
    </a>
    <div class="d-flex mx-auto">
        @await Component.InvokeAsync("Dropdown", new
         {
             enumTypeName = typeof(EngineSortStrategy).AssemblyQualifiedName,
             selectedEnumName = @Model.SortStrategyType.ToString(),
             controllerName = "Engines",
             actionName = "ChangeSortType",
             routeParamName = "sortStrategyType",
             prependText = "Order by"
         })
        @await Component.InvokeAsync("Dropdown", new
        {
            enumTypeName = typeof(SortStrategyDirection).AssemblyQualifiedName,
            selectedEnumName = @Model.SortStrategyDirection.ToString(),
            controllerName = "Engines",
            actionName = "ChangeSortDirection",
            routeParamName = "sortDirection"
        })
    </div>
</div>

<div class="container-item-white border-radius-smooth border-grey">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">TransmissionName</th>
                <th scope="col">Price</th>
                <th scope="col">Weight_Kg</th>
                <th scope="col">Cars</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var engine in Model.Engines)
            {
                <tr data-id="@engine.Id">
                    <td>@engine.Name</td>
                    <td>@engine.TransmissionName</td>
                    <td>@engine.Price</td>
                    <td>@engine.Weight_Kg</td>
                    <td>
                        @if (engine.CarsCount == 0)
                        {
                            <a href="#">Cars (@engine.CarsCount)</a>
                        }
                        else
                        {
                            <a asp-controller="Cars"
                               asp-action="Index"
                               asp-route-name="@engine.Name"
                               asp-route-filter="@AdminBaseCarFilterStrategy.Engine">
                                Cars (@engine.CarsCount)
                            </a>
                        }
                    </td>
                    <td>
                        <div>
                            <partial name="_DeleteBtnPartial" model="@engine" />
                        </div>
                        <div>
                            <a class="btn btn-wide border-green background-green-hover"
                               asp-route-id="@engine.Id"
                               asp-area="Admin"
                               asp-controller="Engines"
                               asp-action="Edit">
                                Edit
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<partial name="_PaginationPartial" />

@section Scripts {
    <script src="~/js/removeElementOnButtonClick.js"></script>
    <script>
        $(function () {
            removeElementOnButtonClick('data-delete-btn', 'data-id', '/Admin/Engines/Delete');
        })
    </script>
}