@model IEnumerable<EngineViewModel>
@{
    ViewData["Title"] = "Engines";
}

<h5>@ViewData["Title"]</h5>

<partial name="_AddNewPartial" />

<div class="container-item-white border-radius-smooth border-grey">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">TransmissionName</th>
                <th scope="col">Price</th>
                <th scope="col">Weight_Kg</th>
                <th scope="col">Cars</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var engine in Model)
            {
                <tr data-engineId="@engine.Id">
                    <td>@engine.Name</td>
                    <td>@engine.TransmissionName</td>
                    <td>@engine.Price</td>
                    <td>@engine.Weight_Kg</td>
                    <td>
                        @if (engine.CarsCount == 0)
                        {
                            <a href="#">Cars (@engine.CarsCount)</a>
                        }
                        else
                        {
                            <a asp-controller="Cars"
                               asp-action="Index"
                               asp-route-id="@engine.Id"
                               asp-route-filter="@AdminBaseCarFilterStrategy.Engine">
                                Cars (@engine.CarsCount)
                            </a>
                        }
                    </td>
                    <td>
                        <div>
                            @if (engine.CarsCount == 0)
                            {
                                <button delete data-engineId="@engine.Id" class="btn btn-wide border-light-red background-light-red-hover">
                                    Delete
                                </button>
                            }
                            else
                            {
                                <button disabled class="btn btn-wide border-light-red background-light-red-hover">
                                    Delete
                                </button>
                            }
                        </div>
                        <div>
                            <a class="btn btn-wide border-green background-green-hover"
                               asp-route-id="@engine.Id"
                               asp-area="Admin"
                               asp-controller="Engines"
                               asp-action="Edit">
                                Edit
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/removeElementOnButtonClick.js"></script>
    <script>
        $(function () {
            removeElementOnButtonClick('[delete]', 'data-engineId', '/Admin/Engines/Delete');
        })
    </script>
}