@model AdminTestDrivesViewModel
@{
    ViewData["Title"] = "All Test Drives";
}

<div class="container-item-white border-radius-smooth border-grey d-flex">
    <div class="ml-auto">
        @await Component.InvokeAsync("Dropdown", new
        {
            enumTypeName = typeof(AdminTestDrivesSortStrategyType).AssemblyQualifiedName,
            selectedEnumName = @Model.SortStrategyType.ToString(),
            actionName = "ChangeSortType",
            routeParamName = "sortStrategyType",
            prependText = "Order by"
        })
    </div>
    <div class="mr-auto">
        @await Component.InvokeAsync("Dropdown", new
        {
            enumTypeName = typeof(SortStrategyDirection).AssemblyQualifiedName,
            selectedEnumName = @Model.SortDirection.ToString(),
            actionName = "ChangeSortDirection",
            routeParamName = "sortDirection"
        })
    </div>
</div>

@foreach (var testDrive in Model.TestDrives)
{
    <div data-delete="@testDrive.Id" class="container-item-white border-radius-smooth border-grey">
        @Html.DisplayFor(m => testDrive)

        <div class="mt-4 d-flex justify-content-center">
            <div class="mr-auto"></div>
            <div>
                @if (testDrive.Status.Name == TestDriveStatus.Canceled)
                {
                    <button class="btn border-light-red background-light-red-hover" disabled>
                        Canceled
                        <i class="fas fa-times"></i>
                    </button>
                }
                else if (testDrive.Status.Name == TestDriveStatus.Passed)
                {
                    <button class="btn border-green background-green-hover mr-2" disabled>
                        Passed
                        <i class="fas fa-check"></i>
                    </button>
                }
                else if (testDrive.Status.Name == TestDriveStatus.Upcoming)
                {
                    <div class="input-group">
                        <form method="post"
                              asp-controller="TestDrives"
                              asp-action="Check"
                              asp-route-testDriveId="@testDrive.Id">
                            <button class="btn border-green background-green-hover mr-2">
                                Check
                                <i class="fas fa-check"></i>
                            </button>
                        </form>
                        <form class="form-inline" method="post">
                            <button cancelBtn class="btn border-light-red background-light-red-hover" type="submit"
                                    asp-controller="TestDrives"
                                    asp-action="Cancel"
                                    asp-route-testDriveId="@testDrive.Id"
                                    asp-route-returnUrl="@ViewData["returnUrl"]">
                                Cancel
                                <i class="fas fa-times" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                }
            </div>

            <div class="ml-auto">
                <button data-delete-btn="@testDrive.Id" class="btn border-light-red-hover">
                    Delete
                    <i class="far fa-trash-alt" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
}

<partial name="_PaginationPartial" />

@section Scripts {
    <script src="~/js/removeElementOnButtonClick.js"></script>
    <script>
        $(function () {
            removeElementOnButtonClick('data-delete-btn', 'data-delete', '/Admin/TestDrives/Delete');
        })
    </script>
}